.root {
  &[data-variant="ala"] {
    background-color: var(--mantine-color-honey-3);
    border-radius: 5px;
    padding: 8px 8px 11px 8px;

    & .message {
      color: var(--mantine-color-charcoal-9);

      & :global(.mantine-Anchor-root) {
        color: var(--mantine-color-ocean-9);
        &:hover {
          color: var(--mantine-color-peacock-9);
        }
      }
    }

    /* Mobile Font Sizes */
    @media (max-width: 48em) {
      padding-bottom: 10px;
      & .message,
      & .message :global(.mantine-Anchor-root) {
        font-size: 0.75rem;
        line-height: 1rem;
      }
    }

    /* Desktop Font Sizes */
    @media (min-width: 48em) {
      & .message,
      & .message :global(.mantine-Anchor-root) {
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
    }

    & .icon {
      color: var(--mantine-color-charcoal-9);
      margin-right: 5px;
    }
  }
}
