.root {
  &[data-variant="ala-primary"] {
    height: auto;
    font-weight: 500;

    background-color: transparent;
    border: 1px solid var(--mantine-color-rust-6);

    padding: 10px 14px 10px 14px;
    text-align: left;

    @mixin light {
      color: var(--mantine-color-rust-6);
      & .label {
        color: var(--mantine-color-charcoal-9);
      }
    }

    @mixin dark {
      color: white;
    }

    &:hover {
      color: var(--mantine-color-charcoal-9);
      border-color: var(--mantine-color-flamingo-4);
      background-color: var(--mantine-color-flamingo-4);
    }

    &:active {
      color: white;
      border-color: var(--mantine-color-rust-6);
      background-color: var(--mantine-color-rust-6);
      transform: none;
    }

    &:active .label {
      color: white;
    }

    & .inner {
      justify-content: space-between;
      align-items: flex-start;
    }

    & .label {
      text-wrap: wrap;
      align-items: flex-start;
    }

    /* Mobile Font Sizes */
    @media (max-width: 48em) {
      font-size: 0.875rem;
      line-height: 1.125rem;
    }

    /* Desktop Font Sizes */
    @media (min-width: 48em) {
      font-size: 1rem;
      line-height: 1.375rem;
    }
  }

  &[data-variant="ala-secondary"] {
    background-color: transparent;
    border-radius: 18px;

    padding: 6px 14px 10px 14px;
    text-align: left;

    @mixin light {
      color: var(--mantine-color-charcoal-9);
      border: 1px solid var(--mantine-color-charcoal-9);
    }

    @mixin dark {
      color: white;
      border: 1px solid white;
    }

    &:hover {
      color: white;
      border-color: var(--mantine-color-grey-8);
      background-color: var(--mantine-color-grey-8);
    }

    &:active {
      color: white;
      transform: none;

      @mixin light {
        border-color: var(--mantine-color-charcoal-9);
        background-color: var(--mantine-color-charcoal-9);
      }

      @mixin dark {
        border-color: var(--mantine-color-rust-6);
        background-color: var(--mantine-color-rust-6);
      }
    }

    /* Mobile Font Sizes */
    @media (max-width: 48em) {
      & .label {
        font-size: 0.875rem;
        line-height: 1.125rem;
      }
    }

    /* Desktop Font Sizes */
    @media (min-width: 48em) {
      padding-bottom: 8px;

      & .label {
        font-size: 1rem;
        line-height: 1.375rem;
      }
    }
  }

  &[data-variant="ala-filter"] {
    height: auto;
    background-color: transparent;

    padding: 8px 19px 10px 19px;

    @mixin light {
      color: var(--mantine-color-charcoal-9);
      border: 1px solid var(--mantine-color-light-grey-2);
    }

    @mixin dark {
      color: white;
      border: 1px solid white;
    }

    &:hover {
      color: white;
      border-color: var(--mantine-color-grey-8);
      background-color: var(--mantine-color-grey-8);
    }

    & .label {
      font-weight: normal;

      /* Mobile Font Sizes */
      @media (max-width: 48em) {
        font-size: 0.75rem;
        line-height: 1rem;
      }

      /* Desktop Font Sizes */
      @media (min-width: 48em) {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }

    &:active {
      color: white;
      transform: none;

      @mixin light {
        border-color: var(--mantine-color-charcoal-9);
        background-color: var(--mantine-color-charcoal-9);
      }

      @mixin dark {
        border-color: var(--mantine-color-rust-6);
        background-color: var(--mantine-color-rust-6);
      }
    }
  }
}
