.root {
  &[data-variant="ala"] {
    box-sizing: border-box;

    & .input {
      @mixin light {
        border: 2px solid var(--mantine-color-charcoal-9);
        &:checked {
          background-color: var(--mantine-color-charcoal-9);
        }
      }
      @mixin dark {
        border: 2px solid white;
        &:checked {
          background-color: white;
        }
      }
    }

    & .icon {
      @mixin light {
        color: white;
      }
      @mixin dark {
        color: var(--mantine-color-charcoal-9);
      }
    }

    & .label {
      &[data-size="base"] {
        font-size: 0.875rem;
        line-height: 1.125;
      }

      @mixin light {
        color: var(--mantine-color-charcoal-9);
      }
      @mixin dark {
        color: white;
      }
    }

    & .description {
      &[data-size="base"] {
        font-size: 0.875rem;
        line-height: 1.125;
      }

      @mixin light {
        color: var(--mantine-color-charcoal-9);
      }
      @mixin dark {
        color: white;
      }
    }
  }
}
