.tab {
  &[data-variant="ala"] {
    background: transparent;
    padding: 15px;
    border: none;
    border-bottom: 3px solid transparent;
    line-height: 1.25rem;

    & .tabLabel {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    &:hover {
      cursor: pointer;
      border-bottom-color: var(--mantine-color-rust-6);

      & .tabLabel {
        color: var(--mantine-color-rust-6);
      }
    }

    &[data-active] {
      border-bottom: 3px solid var(--mantine-color-rust-6);

      & .tabLabel {
        color: var(--mantine-color-rust-6);
      }
    }
  }
}
