.tab {
  &[data-variant="ala"] {
    box-sizing: border-box;

    &:hover {
      border-bottom-color: var(--mantine-color-rust-6);

      & .tabLabel {
        color: var(--mantine-color-rust-6);
      }
    }

    &[data-active] {
      border-bottom: 3px solid var(--mantine-color-rust-6);

      & .tabLabel {
        color: var(--mantine-color-rust-6);
        font-weight: bold;
      }
    }
  }
}
