.header {
  @mixin light {
    background-color: white;
  }
  @mixin dark {
    background-color: black;
  }
}

.containerLegacy {
  background-color: #262626;
  color: white;

  @media (max-width: 48em) {
    height: 52px;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  /* Desktop Sizes */
  @media (min-width: 48em) {
    height: 102px;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.container {
  /* Mobile Sizes */
  @media (max-width: 48em) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  /* Desktop Sizes */
  @media (min-width: 48em) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.group {
  /* Mobile Sizes */
  @media (max-width: 48em) {
    height: 52px;
    padding-top: 12px;
    padding-bottom: 13px;
    align-items: flex-end;
  }

  /* Desktop Sizes */
  @media (min-width: 48em) {
    height: 107px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.groupCompact {
  /* Mobile Sizes */
  @media (max-width: 48em) {
    padding-top: 12px;
    padding-bottom: 13px;
    align-items: flex-end;
  }

  /* Desktop Sizes */
  @media (min-width: 48em) {
    padding-top: 15px;
    padding-bottom: 0px;
  }
}

.tabCompact {
  padding: 10px 0px !important;
}

.tabNoncompactLegacy, .tabLegacyCompact {
  color: white !important;
}

.tabLegacyCompact {
  padding: 10px 0px !important;
}

.tab {
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  left: 0;
  right: 0;
  z-index: 1000;

  @mixin light {
    background-color: white;
  }

  @mixin dark {
    background-color: black;
  }
}

.auth {
  padding: 8px 15px 10px 15px !important;
}

.authLegacy {
  padding: 0px 15px 0px 15px !important;
  /* background-color: ; */
  color: white !important;
} 

.mobile {
  /* Desktop Sizes */
  @media (min-width: 48em) {
    display: none !important;
  }
}

.desktop {
  /* Mobile Sizes */
  @media (max-width: 48em) {
    display: none !important;
  }
}

.desktopLegacy {
  /* Mobile Sizes */
  @media (max-width: 48em) {
    display: none !important;
  }
  background-color: #262626;
  color: white;
}

.navButton {
  position: relative;
  /* Ensure the button doesn't have a background that hides the underline */
  background: transparent;
  transition: color 200ms ease;
}

.navButton::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #f26649;
  /* This mirrors your Bootstrap transition */
  transition: all 300ms ease;
}

/* Hover state and Active/Current state */
.navButton:hover::before,
.navButton[data-active="true"]::before {
  left: 0;
  width: 100%;
}


