.header {
  @mixin light {
    background-color: white;
  }
  @mixin dark {
    background-color: black;
  }
}
.container {
  /* Mobile Sizes */
  @media (max-width: 48em) {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Desktop Sizes */
  @media (min-width: 48em) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.group {
  /* Mobile Sizes */
  @media (max-width: 48em) {
    height: 52px;
    padding-top: 12px;
    padding-bottom: 13px;
    align-items: flex-end;
  }

  /* Desktop Sizes */
  @media (min-width: 48em) {
    height: 107px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.groupCompact {
  /* Mobile Sizes */
  @media (max-width: 48em) {
    padding-top: 12px;
    padding-bottom: 13px;
    align-items: flex-end;
  }

  /* Desktop Sizes */
  @media (min-width: 48em) {
    padding-top: 15px;
    padding-bottom: 0px;
  }
}

.tabCompact {
  padding: 10px 0px !important;
}

.tab {
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  left: 0;
  right: 0;
  z-index: 1000;

  @mixin light {
    background-color: white;
  }

  @mixin dark {
    background-color: black;
  }
}

.auth {
  padding: 8px 15px 10px 15px !important;
}

.mobile {
  /* Desktop Sizes */
  @media (min-width: 48em) {
    display: none !important;
  }
}

.desktop {
  /* Mobile Sizes */
  @media (max-width: 48em) {
    display: none !important;
  }
}
