.image {
  /* Mobile Sizes */
  @media (max-width: 48em) {
    width: 138px;
    height: 20.04px;

    @mixin light {
      background-image: url("../static/ala-mobile-light.svg");
    }
    @mixin dark {
      background-image: url("../static/ala-mobile-dark.svg");
    }
  }

  /* Desktop Sizes */
  @media (min-width: 48em) {
    width: 236px;
    height: 34px;

    @mixin light {
      background-image: url("../static/ala-desktop-light.svg");
    }
    @mixin dark {
      background-image: url("../static/ala-desktop-dark.svg");
    }
  }
}
