.image {
  @mixin light {
    background-image: url("../static/austraits-light.png");
  }
  @mixin dark {
    background-image: url("../static/austraits-dark.png");
  }

  /* Mobile Sizes */
  @media (max-width: 48em) {
    width: 151px;
    height: 55px;
    background-size: 151px 55px;
  }

  /* Desktop Sizes */
  @media (min-width: 48em) {
    width: 195px;
    height: 71px;
    background-size: 195px 71px;
  }
}
